<form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">

  <p>
    <label for="firstname">First Name</label>&nbsp;
    <input type="text" id="firstname" name="firstname" #fname="ngModel" ngModel>
    <!-- <input type="text" id="firstname" name="firstname" [(ngModel)]="contact.firstname"> -->
  </p>
  <!-- <pre>Value    : {{fname.value}} </pre>
  <pre>valid    : {{fname.valid}} </pre>
  <pre>invalid  : {{fname.invalid}} </pre>
  <pre>touched  : {{fname.touched}} </pre> -->

  <p>
    <label for="lastname">Last Name</label>&nbsp;
    <!-- <input type="text" id="lastname" name="lastname" [(ngModel)]="contact.lastname"> -->
    <input type="text" id="lastname" name="lastname" ngModel>
  </p>

  <p>
    <label for="email">Email </label>&nbsp;
    <!-- <input type="text" id="email" name="email" [(ngModel)]="contact.email"> -->
    <input type="text" id="email" name="email" ngModel>
  </p>

  <p>
    <label for="gender">Geneder</label>&nbsp;
    <!-- <input type="radio" value="male" id="gender" name="gender" [(ngModel)]="contact.gender"> Male
    <input type="radio" value="female" id="gender" name="gender" [(ngModel)]="contact.gender"> Female -->
    <input type="radio" value="male" id="gender" name="gender" ngModel> Male
    <input type="radio" value="female" id="gender" name="gender" ngModel> Female
  </p>

  <p>
    <label for="isMarried">Married</label>&nbsp;
    <!-- <input type="checkbox" id="isMarried" name="isMarried" [(ngModel)]="contact.isMarried"> -->
    <input type="checkbox" id="isMarried" name="isMarried" ngModel>
  </p>

  <p>
    <label for="country">Country</label>&nbsp;
    <!-- <select name="country" id="country" [(ngModel)]="contact.country"> -->
    <select name="country" id="country" ngModel>
      <option selected="" value=""></option>
      <option [ngValue]="c.id" *ngFor="let c of countryList">
        {{c.name}}
      </option>
    </select>
  </p>

  <div ngModelGroup="address">

    <p>
      <label for="city">City</label>&nbsp;
      <!-- <input type="text" name="city" [(ngModel)]="contact.address.city"> -->
      <input type="text" name="city" ngModel>
    </p>

    <p>
      <label for="street">Street</label>&nbsp;
      <!-- <input type="text" name="street" [(ngModel)]="contact.address.street"> -->
      <input type="text" name="street" ngModel>
    </p>
    <p>
      <label for="pincode">Pin Code</label>&nbsp;
      <!-- <input type="text" name="pincode" [(ngModel)]="contact.address.pincode"> -->
      <input type="text" name="pincode" ngModel>
    </p>

  </div>

  <p>
    <button type="submit">Submit</button>
  </p>

  <!-- <h4>Details:</h4>
  <pre>Value: {{contactForm.value | json }} </pre>
  <pre>Valid: {{contactForm.valid}} </pre>
  <pre>Touched: {{contactForm.touched  }} </pre>
  <pre>Submitted: {{contactForm.submitted  }} </pre> -->

  <p>
    <button type="button" (click)="changeCountry()">Change Country</button>&nbsp;
    <button type="button" (click)="setDefaults()">Set Defaults</button>&nbsp;
    <button type="button" (click)="reset(contactForm)">Reset</button>&nbsp;
    <button type="button" (click)="resetUsingTemplateRef()">Reset_1</button>&nbsp;
    <button type="button" (click)="patchValue()">Patch Value</button>&nbsp;
    <button type="button" (click)="changeAddress()">Change Address</button>
  </p>

  <!-- <b>valid:</b> {{contactForm.valid}} <br />
  <b>touched:</b> {{contactForm.touched}} <br />
  <b>pristine:</b> {{contactForm.pristine}} <br />
  <b>dirty:</b> {{contactForm.dirty}} -->

</form>